<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ObjectCollision.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=;PASSWORD=Start1312;PERSIST SECURITY INFO=True;USER ID=SYSTEM"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
</configuration>